<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<p id="top">
			<span id="topleft"><a href="/">首页</a> | <a href="/post/new">新建文章</a></span>
	<span id="topright">	<% if(!login){%><a href="/login">Login Now</a> | <a href="/reg">Register</a> | <% }else{%><a href="/logout">Logout</a> | <a href=""><%= user.name%></a><% }%></span></p>
	<section id="body">
		<% if (locals.success) { %> 
		<div id="success"> 
			<%= locals.success %> 
		</div> 
		<% } %> 
		<% if (locals.error) { %> 
		<div id="error"> 
			<%= locals.error %> 
		</div> 
		<% } %> 
