<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
	<p id="top"><% if(!login){%><a href="/login">Login Now</a> | <a href="/reg">Register</a> | <% }else{%><a href="/logout">Logout</a> | <a href=""><%= user.name%></a><% }%></p>
		<% if (locals.success) { %> 
		<div id="success"> 
			<%= locals.success %> 
		</div> 
		<% } %> 
		<% if (locals.error) { %> 
		<div id="error"> 
			<%= locals.error %> 
		</div> 
		<% } %> 
