
<%- include header %>
<form action="/login" method="post" id="login">
<input type="text" name="username" placeholder="Name" />
<br />
<input type="password" name="password" placeholder="" />
<br />
<input type="submit" value="submit"/>

</form>
		<%- include footer %>
