
<%- include header %>
<form action="/login" method="post" id="login">
<h1 >登录</h1>
<br>
<input type="text" name="username" placeholder="Name" />
<br />
<br>
<input type="password" name="password" placeholder="password" />
<br />
<br>
<input type="submit" value="login"/>
<br>

</form>
		<%- include footer %>
