<%- include header %>
<form method='post'>
<br />
<br />
<input type="submit" value="Submit" />
Title: <br />
<input type="text" name="title" /><br />
Content: <br />
<textarea name="post" rows="20" cols="120"></textarea>
<br />
</form>
<%- include footer %>
