<%- include header %>

<form id="reg" action="/reg" method="post">
<h1><%= title %></h1>
<input type="text" name="username" placeholder="Input Your Name" />
<br>
<br>
<input type="password" name="password" placeholder="password">
<br>
<br>
<input type="password" placeholder="repeat password">
<br>
<br>
<input type="submit" value="register">
<br>
<br>

</form>
<%- include footer %>
