* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
p {
  padding: 5px;
}
.art {
  padding: 20px;
  margin-top: 20px;
}
#login {
  margin-left: 40%;
  margin-top: 30px;
}
#login h1 {
  margin-left: 30px;
}
#top {
  border: none;
  border-bottom: 1px #aaa solid;
  text-align: right;
}
#heading {
  padding-left: 20px;
}
#reg {
  margin: 20px 40%;
}
#reg h1 {
  margin: 20px;
}
#success {
  opacity: 0;
  width: 100%;
  text-align: center;
  color: #008000;
  -moz-animation: hide 4s;
}
@-moz-keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.comment {
  border: 1px #aaa solid;
  padding: 5px;
  width: 50%;
  margin-left: 30px;
  border-radius: 4px;
}
