*
  padding:0
  margin:0
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
p
  border:1px #aaa solid
  padding:5px
.art
  padding:20px
  margin-top:20px
 #login
   margin-left:40%
   margin-top:300px
